streamlit
openai
anthropic
pymupdf
bs4
google.generativeai
chromadb
PyPDF2
pysqlite3-binary
beautifulsoup4
langchain
langchain-core
langchain-community
langchain-openai
langchain-anthropic
duckduckgo-search
pandas
python-dotenv
 